@import url(InputFlow-primary.css);

.editing-options-container{
    background: transparent;
    padding: 0 15px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 90px;
    left: 0%;
    z-index: 90;
}

.editing-options-container .add-questions{
    padding: 8px;
    gap: 3px;
}

.add-questions ion-icon{
    font-size: 1.9rem;
}

.hero{
    margin-top: 60px;
    background: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border-top: 2px solid var(--green-color-1);
    border-left: 2px solid var(--green-color-1);
    border-bottom: 2px solid var(--green-color-2);
    border-right: 2px solid var(--green-color-2);
}

.form-review{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(45deg, var(--green-color-1), var(--green-color-2));
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.error{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(45deg, var(--green-color-1), var(--green-color-2));
    color: red;
    font-size: 1.2rem;
    text-align: center;
}

.content-room{
    width: 100%;
    height: 100%;
}

.form-title-container{
    width: 100%;
}

.form-title-container .form-title, .form-title-container p{
    padding: 0 10px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 70px;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--green-color-3);
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.form-title-container .form-title::placeholder{
    color: rgb(31, 139, 91, 0.65);
}

.form-title-container .form-title:hover{
    background: rgb(39, 179, 116, 0.07);
}

.form-title-container .form-title:focus{
    background: rgba(39, 179, 116, 0.14);
}

.content-box{
    padding: 10px 0;
}

.question-container input{
    padding: 0 10px;
    min-height: 45px;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    color: var(--green-color-3);
    font-size: 1.2rem;
    border: 1px solid var(--green-color-1);
    border-radius: 10px;
    outline: none;
}

.question-container input::placeholder{
    color: rgb(31, 139, 91, 0.65);
}

.question-container input:hover{
    border-bottom: 2px solid var(--green-color-1);
}

.question-container input:focus{
    border-bottom: 2px solid var(--green-color-1);
}

.question-container p{
    padding: 0 10px;
    min-height: 45px;
    width: 100%;
    color: var(--green-color-3);
    font-size: 1.2rem;
    border: 1px solid var(--green-color-1);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.answers-container{
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.answers-container .answer-box{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.answers-container .answer-box .answer-radios{
    width: 20px;
    height: 20px;
    accent-color: var(--green-color-1);
    outline: none;
}

.answers-container .answer-box ion-icon{
    font-size: 1.8rem;
    color: rgba(31, 139, 91, 0.5);
    cursor: pointer;
}

.answers-container .answer-box ion-icon:hover{
    color: rgb(31, 139, 91);
}

.answers-container .answer-box .answers{
    background: rgb(31, 139, 91, 0.45);
    padding: 0 10px;
    font-size: 1.1rem;
    color: var(--green-color-3);
    border: none;
    border-radius: 5px;
    min-height: 40px;
    width: 100%;
    outline: none;
}

.answers-container .answer-box .answers:hover{
    background: rgb(31, 139, 91, 0.2);
    border-bottom: 2px solid rgb(31, 139, 91, 0.7);
}

.answers-container .answer-box .answers:focus{
    background: rgb(31, 139, 91, 0.3);
    border-bottom: 2px solid rgb(31, 139, 91);
}

.answers-container .answer-box .answers::placeholder{
    color: rgb(31, 139, 91, 0.7);
}

.answers-container .answer-box p{
    background: gb(31, 139, 91, 0.1);
    padding: 0 10px;
    color: var(--green-color-1);
    border: none;
    border-radius: 5px;
    min-height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

.options-container{
    display: flex;
    justify-content: end;
    gap: 10px;
    flex-wrap: wrap;
}

.options-container span{
    padding: max(0.5%, 10px) max(1%, 14px);
}

.options-container span ion-icon{
    font-size: 1.4rem;
}

form{
    width: 100%;
    height: fit-content;
}

.create-btn, .publish-btn, .submit-btn{
    width: 100%;
    margin-top: 30px;
    padding: 12px 17px;
    font-size: 1.1rem;
    gap: 4px;
}