@import url(InputFlow-primary.css);

.block-container{
    width: calc(100% - 20px);
    max-width: 950px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.block-header{
    padding: max(1.5%, 15px) max(3%, 20px);
    width: 100%;
    background: linear-gradient(45deg, var(--green-color-1), var(--green-color-2));
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 15px;
}

.block-content{
    width: 100%;
    border-top: 2px solid var(--green-color-1);
    border-left: 2px solid var(--green-color-1);
    border-bottom: 2px solid var(--green-color-2);
    border-right: 2px solid var(--green-color-2);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.block-question{
    padding: max(1%, 10px) max(2%, 15px);
    width: 100%;
    background: linear-gradient(45deg, var(--green-color-1), var(--green-color-2));
    border-radius: 12px 12px 0 0;
    font-size: 1.1rem;
    color: #fff;
}

.block-answer{
    padding: max(1%, 10px) max(2%, 15px);
    width: 100%;
    background: rgb(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 0 0 12px 12px;
    font-size: 1.1rem;
    color: var(--green-color-3);
}