@import url(InputFlow-primary.css);

.auth-container{
    width: 100%;
    padding: max(1%, 10px);
    display: flex;
    align-items: center;
}

.auth-container p{
    font-size: 1.8rem;
    color: var(--green-color-1);
    font-weight: 500;
}

.auth-container p span{
    font-size: 1.5rem;
    color: var(--green-color-1);
    font-weight: 500;
}

.login-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.login-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.logout-btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.edit-btns{
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;
}