@import url(InputFlow-primary.css);

.hero{
    max-width: 800px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero .published-status, .hero .response-status{
    color: var(--green-color-1);
    font-size: 2rem;
    font-weight: 500;
}