*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    scroll-behavior: smooth;
}

:root{
    --main-bg-front-blue: rgb(160, 161, 167);
    --main-bg-dark: rgb(16, 16, 22);
    --main-bg-blue: rgb(77, 77, 252);
    --main-bg-grey: rgb(139, 139, 139, 0.5);
    --main-bg-grey-black: rgb(88, 88, 88);
    --main-padding: max(1%, 20px) max(2%, 20px);
}

body{
    scroll-behavior: smooth;
    color: #fff;
    background: var(--main-bg-dark);
}

body::-webkit-scrollbar{
    display: none;
}

.pouch, .pouch-btn{
    scale: 1;
    transition: 0.3s ease;
}

.pouch:hover, .pouch-btn:hover{
    scale: 0.9;
    transition: 0.3s ease;
}

.pouch-btn:hover{
    background: var(--main-bg-blue);
}

.pouch:active, .pouch-btn:active{
    scale: 0.8;
    transition: 0.3s ease;
}

        /*loader-screen*/

.loader-screen{
    height: 100vh;
    width: 100%;
    background: var(--main-bg-dark);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 100px 6vh rgb(0, 0, 0, 0.5);
    z-index: 999;
    transform: translateY(0);
    animation: loader-screen-ani 0.8s ease-in forwards;
    animation-delay: 0.4s;
}

@keyframes loader-screen-ani {
    to{
        transform: translateY(-120vh);
    }
}

.loader-content{
    color: #fff;
    font-size: 3.5rem;
    background-color: var(--main-bg-dark);
    transform: translateY(0);
    animation: loader-content-ani 0.8s ease-in forwards;
    animation-delay: 0.4s;
}

@keyframes loader-content-ani {
    to{
        transform: translateY(-80vh);
    }
}

        /*navbar*/

.navbar{
    height: fit-content;
    width: 100%;
    padding: max(1.5%, 24px) max(4%, 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s ease;
}

.navbar-code{
    font-size: 1rem;
}

.navbar_items{
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.navbar_items li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar_items li::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    bottom: -15px;
    border-radius: 50%;
    background: #fff;
    margin-left: 50%;
}

.navbar_items li:not(.navbar_items_contact)::before{
    display: none;
}

.navbar_items li:hover::before{
    display: block;
}

.navbar_items_num{
    color: var(--main-bg-grey-black);
    font-size: 1.1rem;
}

        /*navbar ends*/


        /*navbar-min*/

.navbar-code-show{
    position: absolute;
    top: min(9vw, 6vh);
    left: min(5vh, 5vw);
    font-size: 1rem;
    text-shadow: 0 0 0;
}

.navbar-min{
    top: 0;
    right: 0;
    padding: 5% 10%;
    background: var(--main-bg-dark);
    height: 100vh;
    width: min(100%, 768px);
    border-radius: 100% 0 0 100%;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
}

.navbar-min-header{
    margin: 1rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_logo_min{
    font-size: 2rem;
}

.navbar_items_min{
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0;
}

.navbar_items_min hr{
    border: 1px solid var(--main-bg-grey-black);
}

.navbar_items_min li{
    width: 100%;
    transition: 0.3s ease;
}

.navbar_items_min hr{
    width: 100%;
    background: var(--main-bg-grey);
}

.navbar_items_min li a{
    padding: max(30px, 6%) 1%;
    color: white;
    font-size: 1.2rem;
    display: flex;
    gap: 5px;
}

.navbar-min-arrow{
    margin-left: 10px;
    opacity: 0;
    transition: 0.3s ease;
}

.navbar_items_min li:hover .navbar-min-arrow{
    opacity: 1;
    transition: 0.3s ease;
}

        /*open close button*/

.open-btn{
    top: min(4vh, 4vw);
    right: min(4vh, 4vw);
    position: fixed;
    background: var(--main-bg-dark);
    color: var(--main-bg-front-blue);
    font-size: 2rem;
    aspect-ratio: 1/1;
    min-width: 70px;
    width: min(11vh, 11vw);
    border: 1px solid var(--main-bg-grey-black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 5;
}

.close-btn{
    font-size: 2rem;
    background: var(--main-bg-dark);
    color: var(--main-bg-front-blue);
    aspect-ratio: 1/1;
    width: min(11vh, 11vw);
    min-width: 70px;
    border: 1px solid var(--main-bg-grey-black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

        /*main-header*/

.main-header{
    padding: min(6rem, 150px) min(15%, 140px) max(6%, 60px) min(15%, 140px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.main-header-lets-work{
    font-size: 5rem;
}

.main-header-arrow{
    font-size: 3rem;
    transform: rotateZ(135deg);
}

.main-form-details{
    padding: max(2%, 20px) min(15%, 140px);
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
    flex-wrap: wrap-reverse;
}

.main-form{
    width: 100%;
    max-width: 600px;
}

.main-form .main-ques{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.main-form .main-ques .main-ques-header{
    width: 100%;
    padding: max(1%, 20px) 0;
}

.main-form .main-ques hr{
    border: 1px solid var(--main-bg-grey);
    border-radius: 30px;
    margin: max(1%, 20px) 0;
    width: 100%;
}

.main-form .main-ques .main-ques-num{
    padding-right: min(1%, 20px);
    font-size: 1.1rem;
    color: var(--main-bg-grey);
}

.main-form .main-ques .main-question{
    font-size: 1.3rem;
}

.main-form .main-ques .main-response{
    margin: max(1%, 20px) 0;
    min-height: 30px;
    width: 100%;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.3rem;
    outline: none;
}

.main-form .main-ques .main-msg-resp{
    min-height: 200px;
    height: fit-content;
}

.main-contact-details{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 40px;
}

.main-contact-details .main-details-box{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.main-contact-details .main-details-box .main-details-box-header{
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--main-bg-grey);
}

.main-contact-details .main-details-box .main-details-box-content a{
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
}

.main-contact-details .main-details-box ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.main-details-box-content::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: #fff;
    border-radius: 30px;
    bottom: -3px;
    transition: 0.3s ease;
}

.main-details-box-content:hover::before{
    width: 100%;
    transition: 0.3s ease;
}

.main-send{
    display: flex;
    align-items: end;
    flex-direction: column;
}

.main-send .main-send-hr{
    width: 100%;
    border: 1px solid var(--main-bg-grey);
    border-radius: 30px;
}

.main-send .main-send-btn{
    background: var(--main-bg-blue);
    aspect-ratio: 1/1;
    height: 160px;
    width: 160px;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translate(-30%, 0%);
    animation: main-send-btn-ani linear forwards;
    animation-timeline: view();
    animation-range: entry 5% cover 25%;
}

@keyframes main-send-btn-ani {
    to{
        transform: translate(-30%, -50%);
    }
}

        /*main4*/

.main4-version-time-social{
    height: 100%;
    width: 100%;
    padding: var(--main-padding);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px;
}

.main4-version-time{
    width: 100%;
    max-width: 425px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.main4-social ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.main4-social ul li{
    scale: 1;
    transition: 0.3s ease;
}

.main4-social ul li::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.3s ease;
}

.main4-social ul li:hover::before{
    width: 100%;
    transition: 0.3s ease;
}

.main4-social ul li a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
}

.main4-version, .main4-time, .main4-social{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

.main4-vts-header{
    font-size: 1.1rem;
    color: var(--main-bg-grey-black);
}

.main4-vts-content{
    font-size: 1.2rem;
    transition: 0.3s ease;
}

        /*media query*/

@media screen and (max-width: 768px) {
    .navbar{
        transform: translateY(calc(-100% - max(1%, 16px)));
        transition: 0.7s ease;
    }

    .navbar-min{
        transform: translateX(110%);
        border-radius: 100% 0 0 100%;
        transition: 0.6s ease;
    }

    .navbar-code-show, .open-btn{
        scale: 1;
        transition: 0.7s ease;
    }

    .open-btn2{
        opacity: 0;
        transition: 0.3s ease;
    }

    .main-header-lets-work{
        font-size: 3rem;
    }

    .main-header{
        padding: min(6rem, 150px) max(1%, 20px) max(2%, 40px) max(1%, 20px);
    }

    .main-header-arrow{
        font-size: 2.5rem;
    }

    .main-form-details{
        padding: var(--main-padding);
    }

    .loader-content{
        font-size: 2.6rem;
    }
}

@media screen and (min-width: 769px) {

    .navbar-min{
        transform: translateX(110%);
        transition: 0.6s ease;
    }

    .navbar-code-show, .open-btn{
        scale: 0;
        transition: 0.7s ease;
    }

    .open-btn2{
        scale: 0;
        opacity: 1;
        transition: 0.3s ease;
    }
}